<nav>
    <a href="https://webpages.charlotte.edu/ldial1/index.html">CLT Page</a> ||
    <a href="https://webpages.charlotte.edu/ldial1/index.html">GitHub Repo</a> ||
    <a href="https://ldial11.github.io/">GitHub Page</a> ||
    <a href="https://ldial11.github.io/itis3135/">ITIS 3135 Page</a> ||
    <a href="https://www.freecodecamp.org/lanedial1">freeCodeCamp</a> ||
    <a href="https://www.freecodecamp.org/lanedial1">Code Academy</a> ||
    <a href="https://www.linkedin.com/in/lane-dial-0213741b4/">Linked In</a> ||
    <a href="hobby/index.html"> Hobby</a> ||
    <a href="stuff/cr@ppy page.htm">Crappy webpage</a>
</nav>

Designed by <a href="dialpdesigns.co.html">Dial Designs</a>,
<i>Certified in <a href="https://www.freecodecamp.org/certification/lanedial1/responsive-web-design">Responsive Web Design</a></i>
